
<div><p>The hero's birthday is {{ birthday | date }}</p></div>
<div><p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p></div>
<div><p>The hero's birthday is {{ birthday | date:"yyyy-MM-dd" }} </p></div>

<div>
  <p> the hero's birthday is {{birthday | date:format111}}</p>
  <button (click)="toggleFormat()" >Toggle Format</button>

</div>

<div>管道进行参数化</div>
<div>管道可能接受任何数量的可选参数来对它的输出进行微调。
  我们可以在管道名后面添加一个冒号( : )再跟一个参数值，来为管道添加参数(比如currency:'EUR')。
  如果我们的管道可以接受多个参数，那么就用冒号来分隔这些参数值(比如slice:1:5)。
</div>
<br/>
<br/>
<div>
  链式管道
  {{ birthday | date | uppercase}}<br/>
  {{  birthday | date:'fullDate' | uppercase}}
</div>
<br/><br/>
<div>
  自定义管道<br/>
  <h2>Power Booster</h2>
    <p>Super power boost: <span style="color:chocolate"> {{2 | exponentialStrength: 2}}</span></p>
</div>
<br/><br/>
<div>
  能力倍增计算器<br/>
  normal power: <input [(ngModel)]="power">
  boost factor:<input [(ngModel)]="factor">
  <p>Super power boost: <span style="color:chocolate"> {{power | exponentialStrength: factor}}</span></p>
</div>

<br/><br/>
<div>
  管道与变更检测<br/>

</div>
<div>
  无管道<br/>
 New study:
  <input type="text" #box

          (keyup.enter)="addstudy(box.value); box.value=''"
          placeholder="study name">
  <input id="can-fly" type="checkbox" [(ngModel)]="IsLogin"> IsLogin
  <button (click)="reset()">Reset</button>
  <div *ngFor="let study of studies">
    {{study.name}}
  </div>
</div>
<div>
  接下来，“会飞的英雄”管道, 纯的过滤不出来，从Angular的角度来看，这是同一个数组，没有变化，也就不需要更新显示。<br/>
  <div *ngFor="let study of (studies| flyingStudies)">
    {{study.name}}
  </div>
  接下来，“会飞的英雄”管道, 非纯的过滤出来了<br/>
  <div *ngFor="let study of (studies| flyingStudyImpure)">
    {{study.name}}
  </div>

  接下来，“会飞的英雄”管道----end<br/><br/>

  纯(pure)管道与非纯(impure)管道<br/><br/>

  非纯AsyncPipe<br/><br/>
  <h2>Async Hero Message and AsyncPipe</h2>
  <p>Message: {{ message$ | async }}</p>
  <button (click)="resend()">Resend</button><br/><br/>

  jsonPipe<br/><br/>
  {{studies |  json}}

  <br/><br/>


</div>


