/angular-quickstart/node_modules
/Angularjs2TypeScriptStudy/packages
/AngularjsQuickStart/packages
/AngularjsQuickStart/Data/bin
/AngularjsQuickStart/Data/obj/
/AngularjsQuickStart/Repository/obj/
/AngularjsQuickStart/Service/obj/
/AngularjsQuickStart/ViewModel/obj/
/AngularjsQuickStart/.vs/AngularjsQuickStart/v14/*.suo
/AngularjsQuickStart/WebApi/bin/*.xml
/AngularjsQuickStart/WebApi/bin/*.dll
/AngularjsQuickStart/WebApi/obj/Debug/*.cache
/AngularjsQuickStart/ViewModel/bin/Debug/*.dll
/AngularjsQuickStart/ViewModel/bin/Debug/ViewModel.pdb
/AngularjsQuickStart/ViewModel/obj/Debug/ViewModel.dll
/AngularjsQuickStart/ViewModel/obj/Debug/ViewModel.pdb
/AngularjsQuickStart/Web/Bin/*.dll
/AngularjsQuickStart/Repository/bin/Debug/*.dll
/AngularjsQuickStart/Repository/bin/Debug/*.xml
/AngularjsQuickStart/Repository/bin/*
/AngularjsQuickStart/Repository/obj/*
/AngularjsQuickStart/Service/bin/*
/AngularjsQuickStart/Service/obj/*
/AngularjsQuickStart/WebApi/bin/*
/AngularjsQuickStart/WebApi/obj/*
/AngularjsQuickStart/ViewModel/bin/*

/AngularjsQuickStart/*.ncrunchsolution

/AngularjsQuickStart/ViewModel/*.ncrunchproject

/AngularjsQuickStart/Data/*.ncrunchproject


/AngularjsQuickStart/Web/node_modules
/AngularjsQuickStart/Data/obj
/AngularjsQuickStart/Repository/obj
/AngularjsQuickStart/Service/obj

/AngularjsQuickStart/ViewModel/obj
/AngularjsQuickStart/WebApi/obj

/AngularjsQuickStart/Repository/*.ncrunchproject

/AngularjsQuickStart/Service/*.ncrunchproject
/AngularjsQuickStart/WebApi/*.ncrunchproject
/AngularjsQuickStart/.vs
/AngularjsQuickStart/Common/bin
/AngularjsQuickStart/Common/obj
/AngularjsQuickStart/DomainModel/bin

/AngularjsQuickStart/DomainModel/obj
/AngularjsQuickStart/ViewModel/bin
/AngularjsQuickStart/WebApiTest/bin
/AngularjsQuickStart/WebApiTest/obj
/AngularjsQuickStart/WebApiTest/*.ncrunchproject
/AngularjsQuickStart/AngularQS.WebApi/obj
/AngularjsQuickStart/AngularQS.WebApi/bin

/node_modules
/AngularjsQuickStart/AngularQS.Web/node_modules
/AngularjsQuickStart/AngularQS.Data/bin
/AngularjsQuickStart/AngularQS.Data/obj
/AngularjsQuickStart/AngularQS.Repository/obj
/AngularjsQuickStart/AngularQS.Repository/bin
/AngularjsQuickStart/AngularQS.DomainModel/bin
/AngularjsQuickStart/AngularQS.DomainModel/obj
/AngularjsQuickStart/AngularQS.DomainModel/AngularQS.DomainModel.v3.ncrunchproject
/AngularjsQuickStart/AngularQS.Repository/AngularQS.Repository.v3.ncrunchproject
/AngularjsQuickStart/AngularQS.Repository/bin
/AngularjsQuickStart/AngularQS.Repository/obj
/AngularjsQuickStart/AngularQS.Services/obj
/AngularjsQuickStart/AngularQS.Services/AngularQS.Services.v3.ncrunchproject
/AngularjsQuickStart/AngularQS.Services/bin
/AngularjsQuickStart/AngularQS.CommandModel/AngularQS.CommandModel.v3.ncrunchproject
/AngularjsQuickStart/AngularQS.CommandModel/AngularQS.CommandModel.v3.ncrunchproject
/AngularjsQuickStart/AngularQS.CommandModel/bin
/AngularjsQuickStart/AngularQS.CommandModel/obj
/AngularjsQuickStart/AngularQS.Data/AngularQS.Data.v3.ncrunchproject
/AngularjsQuickStart/AngularQS.Common/obj/AngularQS.Common.csproj.nuget.g.props
/AngularjsQuickStart/AngularQS.Common/obj/AngularQS.Common.csproj.nuget.g.targets
/AngularjsQuickStart/AngularQS.Common/bin/Debug/netcoreapp2.2/AngularQS.Common.deps.json
/AngularjsQuickStart/AngularQS.v3.ncrunchsolution.user
/AngularjsQuickStart/AngularQS.Common/obj
/AngularjsQuickStart/AngularQS.Common/bin
/AngularjsQuickStart/AngularQS.WebApi/Uploads
