
<div>
  <span>User</span>
  <div class="float-right">   
    <button mat-raised-button (click)="openDialog()" color="primary" style="margin-bottom: 5px;"  class="float-right">Add</button>
  </div>
</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'home.userName' | translate }}</th>
        <th scope="col">{{ 'home.firstName' | translate }}</th>
        <th scope="col">{{ 'home.lastName' | translate }}</th>
        <th scope="col">{{ 'home.action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;index as i">       
        <td>{{i+1}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.firstName}}  {{ 'home.'+user.firstName | translate }} </td>
        <td>{{user.lastName}}</td>
        <td>            
            <mat-icon (click)="updateUser(user)">edit</mat-icon> &nbsp;
            <mat-icon (click)="deleteUser(user)">clear</mat-icon>
        </td>
      </tr>     
    </tbody>
  </table>



 