<html><head></head><body>
    <h2 mat-dialog-title="">User</h2>
<mat-dialog-content class="">
        <form  #userForm="ngForm">
                <div >
                    <div class="form-group">
                        <label for="userName">user name</label>
                        <input type="email" class="form-control" [(ngModel)]="currentUser.userName" id="userName" name="userName" placeholder="please input email">
                      </div>              
                </div>
                <div >
                    <div class="form-group">
                        <label >Picture</label>                       
                      </div>  
                      <div>
                        <img src="/Uploads/personImage.png"  class="img-thumbnail">
                      </div>
                      <div class="form-group">                       
                        <input type="file" ng2FileSelect [uploader]="uploader" />
                      </div>
                      <div class="form-group">                      
                       
                        <button mat-raised-button (click)="upload()">Upload</button> 
                      </div>  
                      <!-- <input type="file" #file  (change)="uploadFile(file.files)" style="display:none;">
                      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>                                -->
                </div>
                
                <div class="form-row">
                    <div class="form-group col">
                        <label for="Firstname">Firs name</label>
                        <input type="text" class="form-control" [(ngModel)]="currentUser.firstName" id="firstname" name="firstName" placeholder="">
                      </div>
                    <div class="form-group col">
                        <label for="Lastname">Last name</label>
                       <input type="text" class="form-control" [(ngModel)]="currentUser.lastName"  id="Lastname" name="lastName" placeholder="">
                      </div>              
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="Password">Password</label>
                     <input type="password" class="form-control" [(ngModel)]="currentUser.password"  id="Password" name="password" placeholder="">
                      </div>
                    <div class="form-group col">
                        <label for="ConfirmPassword">Confirm password</label>
                        <input type="password" class="form-control"  id="ConfirmPassword" placeholder="">
                      </div>
                </div>
                    
                     <div class="form-group">
                       <label for="Description">Description</label>
                       <textarea class="form-control" id="Description"  [(ngModel)]="currentUser.description" name="description"  rows="3"></textarea>
                     </div>  
                     
                    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button="" mat-dialog-close="">Cancel</button>
    <button mat-button=""  cdkfocusinitial="" (click)="add()">Add</button>
</mat-dialog-actions>
</body></html>
    