h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
/*nav a {*/
  /*padding: 5px 10px;*/
  /*text-decoration: none;*/
  /*margin-top: 10px;*/
  /*display: inline-block;*/
  /*background-color: #eee;*/
  /*border-radius: 4px;*/
/*}*/
nav a:visited, a:link {
  color: #333;

}
nav a:hover {
  color: #333;
  background-color: #eeeeee;
}
nav a.active {
  color: #333;

  font-weight: bold;
}

div-alert{
  width: 240px;margin: auto;text-align: center;z-index: 10000;position: relative;
}
.hand-over-text{cursor: pointer}
