
<button class="btn btn-primary pull-right" (click)="lgModal.show()">Large modal</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let hero of heroes">
        <tr>
            <td>{{hero.Name}}</td>
            <td>Email</td>
            <td>
                <span class="glyphicon glyphicon-edit hand" (click)="onSelect(hero)"></span>
<!--                <span class="glyphicon glyphicon-trash hand" (click)="deleteModal.show()" title="remove"></span>-->
                <span class="glyphicon glyphicon-trash hand" (click)="delete(hero);$event.stopPropagation()" title="remove"></span>
            </td>
        </tr>
    </tbody>
</table>

<div  id="addHeroModel" bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Hero</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="hero.Name" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" (click)="lgModal.hide()" aria-label="Close">Close</button>
                <button type="button" class="btn btn-primary" (click)="save(hero);">Save</button>
            </div>
        </div>
    </div>
</div>

<delete-modal #deleteModal (onDelete)="deleteHero($event)"></delete-modal>
