
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let hero of heroes">
        <tr>
            <td>{{hero.Name}}</td>
            <td>Email</td>
            <td>
                <span class="glyphicon glyphicon-edit hand" (click)="onSelect(hero)"></span>
                <span class="glyphicon glyphicon-trash hand" (click)="delete(hero);$event.stopPropagation()" title="remove"></span>
            </td>
        </tr>
    </tbody>
</table>

<h2>my heroes</h2>
 

<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.Name | uppercase }} is my hero
    </h2>
    <button (click)="gotoDetail()">view detail</button>
</div>

<div>
    <label>hero name:</label>
    <input #heroName/>
    <button (click)="add(heroName.value);heroName.value=''">New</button>
</div>