<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Trace"
        internalLogFile="c:\log.txt"
        internalLogToConsole="true"
        internalLogToConsoleError="true"
        internalLogToTrace="true"
        >
    <!--you must set nlog.config is always copy and clean solution and re build solution-->
    <!-- enable asp.net core layout renderers -->
    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <!-- the targets to write to -->
    <targets>
      
      <target name="database" xsi:type="Database" dbProvider="System.Data.SqlClient">
        <connectionString>server=.;Database=AngularQSDB;user id=sa;password=123456;Trusted_Connection=True;</connectionString>

        <commandText>
          insert into dbo.Logs (
          MachineName, Logged, Level, Message,
          Logger, Callsite, Exception
          ) values (
          @MachineName, @Logged, @Level, @Message,
          @Logger, @Callsite, @Exception
          );
        </commandText>

        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@Logged" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Callsite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:tostring}" />
      </target>
        
   
      <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
              layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

      <target xsi:type="File" name="ownFile-web" fileName="nlog-own-${shortdate}.log"
              layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    </targets>

    
    <rules>
      <logger name="*" minlevel="Trace" writeTo="database" />
      <logger name="*" minlevel="Trace" writeTo="allfile" />
      <logger name="Microsoft.*" maxLevel="Trace" final="true" /> 
      <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    
      
    </rules>
  </nlog>
</configuration>