<mat-toolbar color="primary">
    <span>
      <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">
      Angular Demo 
    </span>
    <span class="fill-remaining-space"></span>   

    <button mat-button [matMenuTriggerFor]="menu1">Feature</button>
    <mat-menu #menu1="matMenu" style="padding-top:0px !important;padding-bottom:0px !important;">
      <button mat-menu-item routerLink="/customerElement">Custom element</button> 
      <button mat-menu-item routerLink="/dynamicComponent">Dynamic component</button>
      <button mat-menu-item routerLink="/canvasComponent">Canvas component</button>         
    </mat-menu>
 

    <button mat-button [matMenuTriggerFor]="menu">{{currentLanguage}}</button>
    <mat-menu #menu="matMenu" style="padding-top:0px !important;padding-bottom:0px !important;">
      <button mat-menu-item
       *ngFor="let language of languages" value="language.value"
       (click)="setLanguage(language)">
        {{language.displayName}}
      </button>      
    </mat-menu>

    <button mat-button (click)="getUsers()">{{ 'home.userTitle' | translate }}</button>    
    <button mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>

  